{% extends 'base.html.twig' %}
{% block stylesheets %}
        {{ parent() }}

{% endblock %}
{% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/coursework.js') }}"></script>

{% endblock %}
{% block body %}
        <form action="{{ path('accept_coursework') }}" method="post">
                <script>
                        let courseworkId = {{ courseworkId }};
                        let cwP = '{{ coursework | json_encode(constant('JSON_FORCE_OBJECT')) | raw }}';
                </script>
<div class="container" style="display: flex; justify-content: space-between;">

                <div class="right_half_container">
                        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center marks_container">

                                <h3 class="display-7">&#9989; Антиплагиат пройден</h3>
                                <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                                        <h3 class="display-7">Выберите оценку</h3>
                                        <select name="assessment" required>
                                                <option selected disabled value="">Выберите оценку</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                        </select>
                                </div>

                                <div class="pricing-header mx-auto text-center">
                                        <p class="fs-5" id="fio-handler" data-fio-handler="{{ student.fio }}">Студент: {{ student.fio }}</p>
                                        <p class="fs-5">Группа: {{ student.gruppa }}</p>

                                </div>

                                <div class="column" style="width: 100%; position: relative;">
                                <div class="row justify-content-between mx-auto text-center ms-1">
                                        <div class="col-md-2 ">
                                                <p><input type="submit" class="btn btn-success ms-1" name="success" value="Принять"></p>
                                        </div>

                                        <input type="hidden" name="courseworkResultId"
                                               value="{{ courseworkResultId }}"
                                        >

                                        <input type="hidden" name="courseworkId"
                                               value="{{ courseworkId }}"
                                        >
                                        <div class="col-md-2">
                                                <p><input type="submit"  class="btn btn-danger ms-1" name="fuckup" value="Отклонить"></p>
                                        </div>

                                </div>
                                        <div id="warningMsg"></div>
                                </div>


                        </div>
                        <div class="chart_area_container select-hidden" id="chart_area_container">
                                <h3>Сравнить значения на графике</h3>
                                <span>Выберите параметры по осям и нажмите "Получить график", чтобы сравнить результат текущего студента с остальными.</span>
                                <div class="select_axis_item">
                                        <h5>Выберите ось X</h5>
                                        <div>
                                                <select class="" id="par1" onchange="fillSelectOptions(parYSelect, getYParameters())"></select>
                                        </div>
                                </div>
                                <div class="select_axis_item">
                                        <h5>Выберите ось Y</h5>
                                        <div>
                                                <select class="" id="par2"></select>
                                        </div>
                                </div>

                                <button type="button" class="render_btn btn ms-1" onclick="getChart('{{ student.fio }}')">Получить график</button>
                                <div id="chart_container" style="width: 100%;"></div>
                        </div>
                </div>
                <div class="left_half_container">
                        <div class="row justify-content-center">
                                <div class="col-md-4">
                                        <table class="table table-responsive text-center" id="parameters-table">
                                                <thead>
                                                <th scope="row">Параметр</th>
                                                <th scope="row">Значение</th>
                                                <th scope="row">Значения не прошедшие контроль</th>
                                                </thead>
                                                <tbody>
                                                {% set count = 5 %}
                                                {% for param in parameter %}
                                                        {% set count = count + 1 %}

                                                        <tr>
                                                                <td>{{ param }}</td>
                                                                <td>{{ coursework[loop.index0] }}</td>
                                                                <td>
                                                                        <input class="form-check-input"  name="fail_{{ count }}" type="checkbox" value="plagiat" id="flexCheckDefault">
                                                                </td>
                                                        </tr>
                                                {% endfor %}
                                                </tbody>
                                        </table>
                                </div>
                        </div>


                </div>


</div>
        </form>
{% endblock %}

