{% extends 'base.html.twig' %}
{% block stylesheets %}
        {{ parent() }}

{% endblock %}
{% block body %}
        <div class="container">
                <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                        <h1 class="display-4">{{ coursework.name  }}</h1>
                        <p class="lead">Проверка курсовой работы.</p>
                </div>

                <div class="row justify-content-md-center">
                        <div class="col-md-6">
                                <div class="card-deck mb-5 ">
                                        <div class="card mb-5 box-shadow">
                                                <form action="{{ path('api_get_coursework') }}" method="POST">
                                                        <input type="hidden" name="coursework"
                                                               value="{{ coursework.id }}"
                                                        >
                                                        <input type="hidden" name="gruppa"
                                                               value="{{ gruppa }}"
                                                        >
                                                        <div class="card-header">
                                                                <h4 class="my-0 font-weight-normal text-center">Список студентов {{ gruppa }}</h4>
                                                        </div>
                                                        <div class="card-body">
                                                                <div class="row gy-3">
                                                                        <table class="table align-middle table-hover table-responsive text-center">
                                                                                <thead>
                                                                                <th scope="row">ФИО</th>
                                                                                <th scope="row">Статус</th>
                                                                                <th scope="row"></th>
                                                                                </thead>
                                                                                <tbody>
                                                                                {% for result in courseworkResult %}
                                                                                        <tr>
                                                                                        <td>{{ result.4 }}</td>
                                                                                                {% if result.status == -1 %}
                                                                                                        <td>&#10060; Курсовая работа отклонена</td>
                                                                                                        <td></td>
                                                                                                {% endif %}
                                                                                                {% if result.status == 0 %}

                                                                                                        <td>&#8987; Курсовая работа ожидает проверки</td>
                                                                                                        <td><button type="submit" class="btn btn-sm btn-block btn-primary" name="fio"
                                                                                                                    value="{{ result.4 }}" class="btn btn-primary">Проверить</button>

                                                                                                        </td>
                                                                                                {% endif %}
                                                                                                {% if result.status == 1 %}
                                                                                                        <td>&#9989; Антиплагиат пройден</td>
                                                                                                        <td></td>
                                                                                                {% endif %}
                                                                                        </tr>
                                                                                {% endfor %}
                                                                                </tbody>
                                                                        </table>
                                                                </div>
                                                        </div>
                                                </form>
                                        </div>
                                </div>
                        </div>
                </div>


        </div>
{% endblock %}
